<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Churn - @ViewData["Title"]</title>
    <link rel="icon" type="image/png" href="~/Images/churn-website-favicon-color.png" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Churn.styles.css" asp-append-version="true" />
    

</head>
<body>
    <header>
        @await Component.InvokeAsync("NavigationMenu")
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()

        </main>
     
        <footer b-kaezkfbpvi="" class="border-top footer text-muted">
            <div b-kaezkfbpvi="" class="row">
                <div b-kaezkfbpvi="" class="col-md-4">
                    <h5 b-kaezkfbpvi="">Company</h5>
                    <ul b-kaezkfbpvi="" class="footer-list">
                        <li b-kaezkfbpvi=""><a b-kaezkfbpvi="" href="#">About Us</a></li>
                        <li b-kaezkfbpvi=""><a b-kaezkfbpvi="" href="#">Our Team</a></li>
                        <li b-kaezkfbpvi=""><a b-kaezkfbpvi="" href="#">Careers</a></li>
                        <li b-kaezkfbpvi=""><a b-kaezkfbpvi="" href="#">Contact Us</a></li>
                    </ul>
                </div>
                <div b-kaezkfbpvi="" class="col-md-4">
                    <h5 b-kaezkfbpvi="">Products</h5>
                    <ul b-kaezkfbpvi="" class="footer-list">
                        <li b-kaezkfbpvi=""><a b-kaezkfbpvi="" href="#">Financial Solutions</a></li>
                        <li b-kaezkfbpvi=""><a b-kaezkfbpvi="" href="#">Credit Cards</a></li>
                        <li b-kaezkfbpvi=""><a b-kaezkfbpvi="" href="#">Loans</a></li>
                        <li b-kaezkfbpvi=""><a b-kaezkfbpvi="" href="#">Savings Accounts</a></li>
                    </ul>
                </div>
                <div b-kaezkfbpvi="" class="col-md-4">
                    <h5 b-kaezkfbpvi="">Resources</h5>
                    <ul b-kaezkfbpvi="" class="footer-list">
                        <li b-kaezkfbpvi=""><a b-kaezkfbpvi="" href="#">Blog</a></li>
                        <li b-kaezkfbpvi=""><a b-kaezkfbpvi="" href="#">FAQs</a></li>
                        <li b-kaezkfbpvi=""><a b-kaezkfbpvi="" href="#">Terms of Service</a></li>
                        <li b-kaezkfbpvi=""><a b-kaezkfbpvi="" href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
            <hr b-kaezkfbpvi="" id="footer-hr">
            <p b-kaezkfbpvi="">© 2023 - Churn - <a href="/Home/Privacy">Privacy</a></p>
        </footer>
    </div>




    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
