@{
    ViewData["Title"] = "About";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        main {
            max-width: 90%;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <main role="main">


        <div id="crud-banner" class="p-4 p-md-5 mb-4 text-white rounded" style="height: 40%; width: 100%;">
            <div class="col-md-10 px-0">
                <h1 class="display-4 fst-italic">
                    <img src="~/Images/info.png" height="60px" width="60px" />  About Chrun
                </h1>
                <p class="lead my-3">Chrun is a Canadian company that specializes in aggregating financial and credit product information for users. Our platform provides a comprehensive range of products and services to help individuals make informed decisions about their financial needs.</p>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2>Our Mission</h2>
                    <p class="about-p">At Chrun, our mission is to empower Canadians with the knowledge and tools they need to navigate the complex world of finance. We believe that everyone deserves access to reliable and unbiased information to make informed financial decisions.</p>
                </div>
                <div class="col-md-4">
                    <h2>What We Offer</h2>
                    <p class="about-p">Chrun offers a user-friendly platform that allows you to compare and explore various financial and credit products from an array of lenders big and small. We help you find what you need whereever you are on your financial journey.</p>
                </div>
                <div class="col-md-4">
                    <h2>How We Work</h2>
                    <p class="about-p">Chrun uses advanced data analytics to aggregate information from various financial institutions and lenders. We present the information in a clear and concise manner, allowing you to easily compare and evaluate different options.</p>
                </div>
                <hr id="about-hr">

                <div id="about-last-p">
                    Whether you're looking to refinance your mortgage, find a suitable credit card, or explore investment opportunities, Chrun is here to guide you through the process. We aim to provide an intuitive and transparent experience that helps you make confident financial decisions.
                </div>
            </div>
        </div>
            <hr id="about-hr">


       
        <div class="container py-4" style="max-width: 70%;">

            <h2 id="contact-header">Contact Us</h2>

            <form id="contactForm" action="https://getform.io/f/0d9f6adb-6c59-4ee6-a292-cde55b87e166" method="POST" enctype="text/plain">

                <div class="mb-3">
                    <label class="form-label" for="name" name="name2"></label>
                    <input class="form-control" id="name" type="text" placeholder="Name" data-sb-validations="required" />
                    <div class="invalid-feedback" data-sb-feedback="name:required">Name is required.</div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="emailAddress"></label>
                    <input class="form-control" id="emailAddress" name="email2" type="email" placeholder="Email Address" data-sb-validations="required, email" />
                    <div class="invalid-feedback" data-sb-feedback="emailAddress:required">Email Address is required.</div>
                    <div class="invalid-feedback" data-sb-feedback="emailAddress:email">Email Address Email is not valid.</div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="message"></label>
                    <textarea class="form-control" id="message" name="message2" type="text" placeholder="Message" style="height: 10rem;" data-sb-validations="required"></textarea>
                    <div class="invalid-feedback" data-sb-feedback="message:required">Message is required.</div>
                </div>

                <div class="d-none" id="submitSuccessMessage">
                    <div class="text-center mb-3">Form submission successful!</div>
                </div>

                <div class="d-none" id="submitErrorMessage">
                    <div class="text-center text-danger mb-3">Error sending message!</div>
                </div>

                <div class="d-grid">
                    <button class="btn btn-lg" type="submit" style="background-color: #49beb7; color: #fff;">
                        Submit
                    </button>
                </div>

            </form>

        </div>
    </main>
</body>
</html>
