@{
    ViewData["Title"] = "Home";
}

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/Churn.styles.css" asp-append-version="true" />
<style>
    hr {
        border: 1px solid #ccc;
        margin: 20px 0;
    }
</style>

<div id="home-page-wrapper">
    <div id="home-first-wrapper">
        <div id="index-first-subwrapper">
            <img src="~/Images/churn-logo.png" width="400" height="300" alt="Churn Logo" />
            <h2>Connecting you to your financial future</h2>
            <a id="index-learn" href="/Home/About">Learn About Churn</a>
        </div>
    </div>

    <div>
        <div class="hero-section">
            <h2>Compare Financial Products</h2>
            <p>At Churn, we aggregate financial products from banks, credit unions, and other institutions to help you make informed decisions, expand your capital, and save you thousands of dollars.</p>
            <a href="Identity/Account/Register" class="cta-button">Get Started</a>
        </div>

        <div>
            <hr class="home-hr">
            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">Boost Your Credit and Expand Your Capital</h2>
                    <p class="lead">Explore a diverse selection of financial products, including accounts, credit cards, loans, and more. Clearly compare and contrast benefits and features from a variety of lenders for products that best suit you.</p>
                </div>
                <div class="col-md-5">
                    <img class="featurette-image img-fluid mx-auto" alt="Business Credit Score" style="width: 300px; height: 260px;" src="~/Images/business-credit-score.png">
                </div>
            </div>
            <hr class="home-hr">
            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading">Easy Comparison</h2>
                    <p class="lead">Effortlessly compare the features, rates, and terms of various financial products to find the best fit for your needs. Shop from different providers all in one place just a few clicks away.</p>
                </div>
                <div class="col-md-5 order-md-1">
                    <img class="featurette-image img-fluid mx-auto" alt="Comparison" style="width: 300px; height: 260px; margin-bottom: 1em;" src="~/Images/compare.png">
                </div>
            </div>
            <hr class="home-hr">
            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">Transparent Information</h2>
                    <p class="lead">We provide clear and concise details about each product, ensuring transparency and empowering your decision-making. No need to directly talk to any lenders or visit any banks, get what you need to know without the hassle.</p>
                </div>
                <div class="col-md-5">
                    <img class="featurette-image img-fluid mx-auto" alt="Shopping Cart" style="width: 300px; height: 260px;" src="~/Images/shopping-cart.png">
                </div>
            </div>
            <hr class="home-hr">
        </div>
    </div>
</div>

<div class="container">
    <div class="testimonial-section">
        <h2>What Our Users Say</h2>
        <div id="carouselExample" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExample" data-slide-to="0" class="active carousel-dark"></li>
                <li data-target="#carouselExample" data-slide-to="1"></li>
                <li data-target="#carouselExample" data-slide-to="2"></li>
                <li data-target="#carouselExample" data-slide-to="3"></li>
                <li data-target="#carouselExample" data-slide-to="4"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="testimonial">
                        <p>"Churn has been a game-changer for me. It saved me thousands of dollars and years of time by preventing me from getting into a bad loan, and into a good one instead. Highly recommended!"</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="testimonial">
                        <p>"I couldn't be happier with the service provided by Churn. It helped me find the perfect savings account with a high-interest rate and excellent customer support. Thank you, Churn!"</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="testimonial">
                        <p>"The credit card comparison feature on Churn is fantastic. It made it so easy for me to find a card with great rewards and no annual fee. I'm a satisfied user!"</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="testimonial">
                        <p>"Churn is an amazing platform that simplified my financial decisions. I found a mortgage with the best rate and terms, thanks to Churn's comprehensive comparison tool. Highly recommend it to anyone seeking financial products."</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="testimonial">
                        <p>"I've been using Churn for a few months now, and it's been a lifesaver. It helped me discover a credit card that suits my spending habits and provides excellent cashback rewards. Thank you, Churn, for making my financial life easier!"</p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev carousel-dark" href="#carouselExample" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next carousel-dark" href="#carouselExample" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
}
