@{
    ViewData["Title"] = "Privacy";
}

<div id="privacy-page-wrapper">
    <h1 class="display-4">@ViewData["Title"]</h1>

    <div class="privacy-content-wrapper">
        <h2>At Churn we value and protect who you are.</h2>
        <p>
            Churn is committed to safeguarding your privacy and ensuring the secure handling of your data. We employ state-of-the-art, advanced end-to-end encryption protocols to protect your sensitive information from unauthorized access. Rest assured that your data is our top priority, and we handle it with the utmost care and responsibility.
            <p>

            At Churn, we believe in the principle of data minimization. We only collect the information necessary to provide you with the precise and tailored services you require. We strive to maintain transparency in our data collection practices, ensuring that we gather only what is essential to enhance your user experience and fulfill your specific needs.
            </p>
            We never sell your data without your explicit permission. Our business model revolves around a direct commission payment system from our partners, which means that we do not derive any financial gain from your sensitive information. Our focus is solely on delivering the highest quality services and ensuring your satisfaction.

        
        </p>
    </div>


    <div class="privacy-content-wrapper">
        <p>Although we don't directly profit off of your information, we do collect various types of data form you in order to offer the best user expeirence.</p>
        <p>Types of data we may collect through your usage:</p>
        <ul>
            <li>IP Address</li>
            <li>Cookies</li>
            <li>Personal Information</li>
            <li>Device Information</li>
            <li>Clickstream Data</li>
            <li>Analytics Data</li>
            <li>Demographic Information</li>
            <li>Social Media Data</li>
            <li>Advertisements and Tracking</li>
            <li>Secure Payment Information</li>
        </ul>
    </div>

    <div class="privacy-content-wrapper">
        <p>At Churn we thank you for your business and are commited to protecting your digital footprint.</p>
    </div>
</div>