@model Churn.Models.Category

@{
    ViewData["Title"] = "Edit " + Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .container-center {
        max-width: 75%;
        margin: 0 auto;
    }

    /* Add spacing to the form */
    .form-group {
        margin-bottom: 1.5rem;
    }
</style>

<div class="container container-center">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <h1 class="text-center">@ViewData["Title"]</h1>

            <hr />
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Icon" class="control-label"></label>
                    <input asp-for="Icon" class="form-control" />
                    <span asp-validation-for="Icon" class="text-danger"></span>
                </div>
                <div class="form-group text-center" style="margin-top: 1em;">
                    <input type="submit" value="Save" class="btn " style="background-color: #49beb7; color: #Fff;" />
                </div>
            </form>
        </div>
    </div>
</div>

<div class="text-center">
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
