@model IEnumerable<Churn.Models.Category>

@{
    ViewData["Title"] = "Shop By Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-title">
    <h1>@ViewData["Title"]</h1>
</div>

<div class="category-card-container">
    @foreach (var item in Model)
    {
        <div class="category-card">
            <div class="category-card-body">
                <h5 class="category-card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                <p class="category-card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-dark">Details</a>
            </div>
        </div>
    }
</div>
 