html {
    font-size: 18px;
}



@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}



/* Styles for the shared navigation menu component */
* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbar-nav {
    display: flex;
    font-size: 1.3em;
    color: black;
}

.nav-item {
    margin-right: 10px;
}



.nav-link {
    text-decoration: none;
    transition: color 0.3s ease;

}

#homeLinks {
    color: black;
}

#navbarDropdown {
    color: black;
}



.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    font-weight: bold;
    font-size: 2em;
    padding-right: 2em;
    margin-left: 0.5em;
}

/* Styles for the dropdown menus */


.navbar-nav .nav-item.dropdown .dropdown-menu {
    border: #808080 1px solid;
    border-radius: 0.4em;
    box-shadow: 0px 2px 5px rgba(0, 0, 0.1, 0.2);
}

.navbar-nav .nav-item.dropdown .dropdown-item {
    color: black;
}

    .navbar-nav .nav-item.dropdown .dropdown-item:hover {
        background-color: #e9ecef;
        color: #333;
    }

a {
    color: black;
}



.dropdown-menu a.dropdown-item {
    color: black;
    font-size: 1.1em;
}

.navbar-nav .dropdown .dropdown-toggle {
    color: black;
}


/* Home page styles */

#home-page-wrapper {
    padding: 40px;
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0 auto;
}

.home-hr {
    margin-top: 6em;
    margin-bottom: 6em;
}


#home-first-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

    #home-first-wrapper h2 {
        font-size: 34px;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    #home-first-wrapper a {
        color: #000;
        text-decoration: none;
        font-size: 18px;
    }

.hero-section {
    background-color: #f5f5f5;
    padding: 40px;
    margin-bottom: 40px;
    text-align: center;
}

    .hero-section h2 {
        font-size: 38px;
        margin-bottom: 15px;

    }

    .hero-section p {
        font-size: 18px;
        margin-bottom: 20px;
        font-size: 1.3em
    }

.features-section {
    display: flex;
    justify-content: space-around;
}

.feature {
    flex-basis: 30%;
    padding: 20px;
    background-color: #f5f5f5;
    text-align: center;
}

    .feature h3 {
        margin-bottom: 15px;
        font-size: 1.3em;
        font-weight: bold;
    }

    .feature p {
        font-size: 16px;
        margin-bottom: 20px;
        font-size: 1.2em
    }

.testimonial-section {
    padding: 40px;
    text-align: center;
}



@media screen and (max-width: 600px) {
    .testimonial-section {
        font-size: 0.6em
    }
}



.carousel-control-prev-icon {
    margin-right: 10px;
}

.carousel-control-next-icon {
    margin-left: 10px;
}




.testimonial-section h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.testimonial {
    padding: 5em;
    padding-bottom: 7em;
    max-height: 15em;
    background-color: #f5f5f5;
    font-size: 1.2em
}


#index-learn {
    background-color: white;
    padding: 0.6em;
    border-radius: 2em;
    border: 2px solid #49beb7;
    transition: all 0.2s;
}

    #index-learn:hover {
        background-color: #49beb7;
        padding: 0.6em;
        border-radius: 2em;
        border: 2px solid black;
        color: white;
    }

#index-first-subwrapper h2 {
    margin-bottom: 1.5em;
}

.cta-button {
    position: relative;
    display: inline-block;
    padding: 12px 24px;
    background-color: #49BEB7;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 40px;
    overflow: hidden;
    z-index: 1;
    font-size: 1.2em;
}

    .cta-button:hover {
        color: #fff;
        text-decoration: none;
    }

    .img-thumbnai {
        max-width: 100px;
        max-height: 100px;
    }

    .cta-button::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      
        z-index: -1;
    }

    .cta-button:hover::before {
        transform: scaleX(1);
    }

    .cta-button::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        color: #fff;
        transform: translate(-50%, -50%);
        width: 0;
        height: 0;
        border-radius: 50%;
        background-color: #fff;
        opacity: 0.5;
        transition: width 0.6s ease, height 0.6s ease;
    }

    .cta-button:hover::after {
        width: 200px;
        color: #fff;
        height: 200px;
    }

    .cta-button span {
        position: relative;
        z-index: 2;
    }

@keyframes pulse-animation {
    0% {
        transform: scaleX(0);
    }

    50% {
        transform: scaleX(1);
    }

    100% {
        transform: scaleX(0);
    }
}

/* Footer sections styles */
/* Footer Styling */




#footer-li {
    text-decoration: none;
    color: #808080
}

#footer-li:hover {
    text-decoration: none;
    color: black;
}


/*about styles*/

.about-p {
    font-size: 1.2em;
}


#about-hr {
    margin-top: 4em;
}




#about-last-p {
    font-size: 1.2em;
    margin-top: 1em;
   
}

/*Privacy view styles*/

#privacy-page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75%;
    margin: 0 auto;
    gap: 3em;
}

.privacy-content-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #f5f5f5;
    padding: 3em;
    border-radius: 1em;
    border: 2px solid #49BEB7;
    font-size: 1.2em;
}

    .privacy-content-wrapper p {
        align-items: center;
    }



/* CRUD styling*/






.wrapper-categories {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}



#crud-banner {
    background-color: #49beb7;
    margin-bottom: 2em;
}


/*login page styling */
#account {
    margin: 0 auto;
}

.login-container {
    margin-top: 3em;
    margin-bottom: 6em;
}

#login-submit {
    background-color: #49beb7;
    color: white;
}

#login-submit:hover {
    background-color: #808080;
    color: white;
}



/*register view styles*/

.register-container {
    margin-top: 50px;
    margin-bottom: 6em;
}

#registerSubmit {
    color: white;
    background-color: #49beb7;
    border: none;
}

#registerSubmit:hover {
    color: white;
    background-color: #808080;
}

#registerForm {
    margin: 0 auto;
}

.nav-link {
    color: black !important;
   
}

.nav-link:hover {
    color: #808080 !important;
}


/* CRUD tables styling */
.table-th {
    padding: 2em !important;
    margin: 2em !important;
}

#accountTable {
    margin-top: 10em !important;
}

.tbody {
    padding: 2em;
}

.table-data {
    padding: 2em;
    background: red;
}

/*shop category styles*/
/* Custom styles for the category card container */
.category-card-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(400px, 1fr)); 
    gap: 20px;
    justify-items: center;
    margin-top: 100px;
    margin-bottom: 100px
}

/* Custom styles for the category card */
.category-card {
    width: 100%;
    max-width: 400px;
    height: 180px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.category-card-body {
    padding: 20px;
    text-align: center;
}

.category-card-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.category-card-text {
    margin-bottom: 15px;
}

.category-btn {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none;
}

.page-title {
    text-align: center;
    margin-top: 40px;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .category-card-container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    }
}


/*product list styles shop*/
#productTable {
    margin-bottom: 100px;
}






/*product details styling*/
/* Center the h1 title */
h1 {
    text-align: center;
    margin-top: 40px;
    font-size: 32px;
    color: #333;
}

/* Style the product detail container */
.product-detail-container {
    display: flex;
    justify-content: center; 
    align-items: flex-start;
    margin-top: 40px;
    flex-wrap: wrap; 
    margin-bottom: 100px;
}

/* Style the product photo */


/* Style the product info */
.product-info {
    max-width: 50%;
}

hr {
    margin: 20px 0;
}

dl {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px 40px;
    font-size: 18px;
    color: #333;
}

dt {
    font-weight: bold;
}

/* Add some background and border styles */
.product-info{
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 4px;
        
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Add a border around the product photo */
.product-photo {
    border: 1px solid #ddd;
}

/* Add some spacing between rows */
dd {
    margin-bottom: 10px;
}

/* Styles for responsive layouts */
@media (max-width: 768px) {
    .product-detail-container {
        flex-direction: column;
    }

    .product-info, .product-photo {
        max-width: 100%;
       
    }
}
