@model Churn.Models.Investment

@{
    ViewData["Title"] = "Create an Investment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row justify-content-center">



    <div class="col-md-4">
        <h1 class="row justify-content-center">@ViewData["Title"]</h1>

        <hr />
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="InvestmentType" class="control-label"></label>
                <input asp-for="InvestmentType" class="form-control" />
                <span asp-validation-for="InvestmentType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinimumInvestmentAmount" class="control-label"></label>
                <input asp-for="MinimumInvestmentAmount" class="form-control" />
                <span asp-validation-for="MinimumInvestmentAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpectedReturnRate" class="control-label"></label>
                <input asp-for="ExpectedReturnRate" class="form-control" />
                <span asp-validation-for="ExpectedReturnRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InvestmentTerm" class="control-label"></label>
                <input asp-for="InvestmentTerm" class="form-control" />
                <span asp-validation-for="InvestmentTerm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button id="login-submit" type="submit" class="btn btn-lg" style="display: flex; margin: 1em auto;">Create</button>
            </div>
        </form>
        <div>
            <a class="row justify-content-center" asp-action="Index">Back to List</a>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
