@model Churn.Models.CreditCard

@{
    ViewData["Title"] = "Create a Credit Card";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row justify-content-center">
    <div class="col-md-4">
        <h1 class="row justify-content-center">@ViewData["Title"]</h1>
        <hr />
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="InterestRate" class="control-label"></label>
                <input asp-for="InterestRate" class="form-control" />
                <span asp-validation-for="InterestRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinimumPaymentAmount" class="control-label"></label>
                <input asp-for="MinimumPaymentAmount" class="form-control" />
                <span asp-validation-for="MinimumPaymentAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnnualFee" class="control-label"></label>
                <input asp-for="AnnualFee" class="form-control" />
                <span asp-validation-for="AnnualFee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BalanceTransferAmount" class="control-label"></label>
                <input asp-for="BalanceTransferAmount" class="form-control" />
                <span asp-validation-for="BalanceTransferAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button id="login-submit" type="submit" class="btn btn-lg" style="display: flex; margin: 1em auto;">Create</button>
            </div>
        </form>
        <div>
            <a class="row justify-content-center" asp-action="Index">Back to List</a>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
